<h1>アカウント情報の確認</h1>
<br>
<%= link_to 'トップページ', {action:"manage"} %>
<br>
<%= form_tag({controller: "accounts", action: "list"}) do %>
  <p>閲覧パスワード：</p><%= text_field_tag("check") %>
  <%= submit_tag("表示") %>
<% end %>
<br>
<br>
<table>
  <tr>
    <th>アカウント</th><th>パスワード</th><th>有効性</th><th>アクション</th>
  </tr>
  <% @data.each do |obj| %>
  <tr>
    <td><%= obj.user %></td>
    <td><%= obj.pass %></td>
    <td><%= obj.availability %></td>
    <td><%= link_to '削除', controller:'accounts',action:'delete', :account => obj.user %></td>
  </tr>
  <% end %>
</table>
